.cocktail-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #e49ea6;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 1rem;
    overflow: hidden;
    min-width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
    font-family: "Luckiest Guy", cursive;;
    font-weight: 400;
    font-style: normal;
}

.see-more-box {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    background-color: #ab6669;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    opacity: 0.9;
}

.see-more-box a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
}

figure {
    display: flex;
    justify-content: center;
    align-content: center;
}

figure img {
    height: 400px;
    width: auto;
}